<!--Popup Add New Contact-->
<CascadingValue Value="this">
    @*<CascadingValue Value="">*@
    <div class="slide-panel">
        @foreach (var modal in Modals)
        {
            @modal.ModalInstance
        }
    </div>
    <!--End Popup Add New Contact-->
    @*</CascadingValue>*@
</CascadingValue>

