
<div class="menu-collapsed-mode">

        <div class="menu-items-block">

            @*<div class="menu-items-header">
                <i class="fas fa-bars menu-items-header-icon"></i>
                <span class="menu-header-item-link-text">Expand menu</span>
            </div>*@

            <div class="menu-items-body">

                @*<ul class="menu-items">
                    <li class="menu-item-li">
                        <a class="menu-item-link " href="#">
                            <span class="menu-item-icon"><i class="far fa-tired"></i></span>
                            <span class="menu-item-link-text">Activity Stream</span>
                        </a>

                    </li>
                    <li class="menu-item-li  menu-item-li-active">
                        <a class="menu-item-link" href="#">
                            <span class="menu-item-icon"><i class="far fa-tired"></i></span>
                            <span class="menu-item-link-text">Activity Stream</span>
                        </a>

                    </li>
                    <li class="menu-item-li">
                        <a class="menu-item-link" href="#">
                            <span class="menu-item-icon"><i class="far fa-tired"></i></span>
                            <span class="menu-item-link-text">Activity Stream</span>
                        </a>

                    </li>
                    <li class="menu-item-li">
                        <a class="menu-item-link" href="#">
                            <span class="menu-item-icon"><i class="far fa-tired"></i></span>
                            <span class="menu-item-link-text">Activity Stream</span>
                        </a>

                    </li>
                    <li class="menu-item-li">
                        <a class="menu-item-link" href="#">
                            <span class="menu-item-icon"><i class="far fa-tired"></i></span>
                            <span class="menu-item-link-text">Activity Stream</span>
                        </a>

                    </li>
                </ul>*@
            </div>
        </div>
    </div>
