@inherits LayoutComponentBase

<div class="limiter">
    <div class="container-login100 d-flex justify-content-center">
        <div class="wrap-login100 d-flex align-items-center">
            <MessageBoxList Position="MessageBoxPosition.TopRight" Timeout="3" />
            @Body
        </div>
    </div>
</div>