<!--Header Search Filter-->
<div class="header-logo-settings">
    <i class="fas fa-sliders-h setting-icon-header"></i>
    <div class="setting-company-popup">
        <span class="label-input-setting">@("Search.SearchCriteria".Translate())</span>
        <select class="dropdown-setting-company">
            <option value="Test">Test</option>
            <option value="Test">Test</option>
            <option value="Test">Test</option>
            <option value="Test">Test</option>
        </select> 

        <hr>

        <div class="save-company">
            <button class="save-company-setting-button">"@("Search".Translate())"</button>
        </div>

        <i class="fas fa-times close-popup-setting"></i>
        <div class="setting-popup-angle"></div>
    </div>

</div>
<!--End Header Search Filter-->