 <!--Header Search Input-->
<div class="header-search col-lg-4 col-md-4 col-sm-4">
    <div class="header-search-inner">
        <form class="search-form" action="">
            <input class="search-input" type="text" placeholder="Search">

            <i class="fas fa-search search-button"></i>
        </form>
    </div>
</div>
<!--End Header Search Input-->